.modal {
	position: relative;
	box-shadow: rgb(0 0 0 / 32%) 0px 1px 8px 0px;
	padding: 2.5rem;
	min-height: 100px;
	display: none;

	.close-btn {
		position: absolute;
		top: 1.25rem;
		right: 1rem;
	}
}

.modal--white {
	background-color: white;
	color: black;
}

.modal--black {
	background-color: black;
	color: white;
}

.modal__heading {
	font-family: "Tablet Gothic", sans-serif;
	margin-top: 0;
}
