.close-btn {
	background-color: transparent;
	border: none;
}

.close-btn[disabled] {
	color: var(--grey-70-color);
}

.close-btn--black {
	color: black;

	&:hover {
		color: var(--accent-1-color);
	}
}

.close-btn--white {
	color: white;

	&:hover {
		color: var(--primary-color);
	}
}
