<button {% if disabled -%} disabled {% endif -%}  class="close-btn close-btn--{{ color|default("black") }}" aria-label="Close">
  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 32 32" fill="none" aria-hidden="true" class="css-1mxo6va">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4444 16L2.54313e-06 28.4444L3.55556 32L16 19.5556L28.4444 32L32 28.4444L19.5556 16L32 3.55556L28.4444 0L16 12.4444L3.55555 5.24501e-06L0 3.55556L12.4444 16Z" fill="currentColor"></path>
  </svg>
</button>
